<div class="card-container">
  <mat-nav-list class="list-horizontal">
    <mat-list-item>
      <mat-card class="home-card">
        <img mat-card-image src="assets/project_select_icon.svg">
        <mat-card-content>
          <h3 class="text-center">
            Project
          </h3>
        </mat-card-content>
      </mat-card>

    </mat-list-item>
    <mat-list-item>
      <mat-card class="home-card">
        <img mat-card-image src="assets/report_select_icon.svg">
        <mat-card-content>
          <h3 class="text-center">
            Reports
          </h3>
        </mat-card-content>
      </mat-card>
    </mat-list-item>
    <mat-list-item>
      <mat-card class="home-card">
        <img mat-card-image src="assets/user_select_icon.svg">
        <mat-card-content>
          <h3 class="text-center">
            System Admin
          </h3>
        </mat-card-content>
      </mat-card>
    </mat-list-item>
    <mat-list-item>
      <mat-card class="home-card">
        <img mat-card-image src="assets/apps_icon.svg">
        <mat-card-content>
          <h3 class="text-center">
            Apps
          </h3>
        </mat-card-content>
      </mat-card>
    </mat-list-item>
  </mat-nav-list>
</div>
