<mat-toolbar color="primary" fxLayout="row"   fxLayoutAlign="space-between  none">
  <div class="toolbar-row">
    <div class="toolbar-column">
      <span class="title" routerLink="/">
        <img mat-card-image src="assets/Quantralogo.png" >
      </span>
    </div>
    <div class="toolbar-column">
      <div class="right-side">
        <div>
          <img mat-card-image  src="assets/amarica.png" >
        </div>
        <div>
          <img mat-card-image  src="assets/bell.jpeg" >
          <div class="notification">
            <div>7</div>
            <img mat-card-image src="assets/notification.png" alt="notification status">
          </div>
        </div>
        <div>
          <img mat-card-image  src="assets/devider_line.png" >
        </div>
        <div>
          <p>Genesh</p>
        </div>

        <div class="demo-section">
          <img mat-card-image  src="assets/user.png" >
          <div class="user-status">
            <img mat-card-image src="assets/online.png" alt="online status">
          </div>
        </div>
    </div>
    </div>
  </div>



</mat-toolbar>
