<div class="text-center " id="content">
  <form  novalidate class="d-flex-center">
    <div class="authentication-container">
      <div>
        <div class="logo-container">
            <img mat-card-image src="assets/Quantra_logo.png" alt="Quantra">
        </div>
        <div class="signin-container text-center mt-top-2">
          <h1 class="quantra-text">Forgot Password</h1>
        </div>
        <mat-form-field appearance="fill">
          <mat-label>Enter your register email</mat-label>
          <input matInput placeholder="Enter your email"  autoComplete='off'>

        </mat-form-field>
      </div>
      <div class="mt-top-2">
        <button  class="authentication-button"  mat-flat-button disabled color="primary">Submit</button>
      </div>
    </div>
  </form>
</div>

