<div class="text-center " id="content">
  <form  novalidate class="d-flex-center">
    <div class="authentication-container">
      <div>
        <div class="logo-container">
            <img mat-card-image src="assets/Quantra_logo.png" alt="Quantra">
        </div>
        <div class="signin-container text-center mt-top-2">
          <h1 class="quantra-text">Reset Password</h1>
        </div>
        <div class="mt-top-2">
            <mat-form-field appearance="fill">
              <mat-label>New Password</mat-label>

              <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter your password"  autoComplete='off'>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
        </div>
        <div class="mt-top-2">
            <mat-form-field appearance="fill">
              <mat-label>Confirm Password</mat-label>

              <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter your password"  autoComplete='off' >
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
        </div>
      </div>
      <div class="mt-top-2">
        <button  class="authentication-button"  mat-flat-button disabled color="primary">Submit</button>
      </div>
    </div>
  </form>
</div>
