<div class="text-center " id="content">
  <form  novalidate class="d-flex-center">
    <div class="authentication-container">
      <div>
        <div class="logo-container">
            <img mat-card-image src="assets/Quantra_logo.png" alt="Quantra">
        </div>
        <div class="signin-container text-center mt-top-2">
          <h1 class="quantra-text">Forgot Password</h1>
        </div>
        <div class="mt-top-2 text-center color-1">
          <p>Enter the OTP send to your register email</p>
        </div>
        <div class="mt-top-2">
          <mat-form-field appearance="fill">
            <input matInput  placeholder="Enter the otp"  autoComplete='off'>
          </mat-form-field>
        </div>
      </div>
      <div class="mt-top-2">
        <button  class="authentication-button"  mat-flat-button disabled color="primary">Submit</button>
      </div>
      <div class="mt-top text-center">
        <a class="link"  href="javascript:void(0);" >Resend OTP</a>
      </div>
    </div>
  </form>
</div>
