/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f7f7f7;
}


.d-flex-center{
  display:flex;
  justify-content:center;
  align-items:center;
  background-color: #fff;
}

.logo-container{
  display: flex;
  width: 30vw;
  justify-content:center;
}

.row{
  display: flex;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
}
.col{
  display: flex;
}

.text-center{
  text-align: center;
}

.authentication-container{
  text-align: left;
  padding: 2em;;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
  align-items: stretch;
}

.mat-form-field{
  width: 100%;
  font-size: 1.2em;
  color:#2a2a2a;

}

.quantr-text{
  color: #538a8e;
  font-weight: 500;
}

// mat-icon-stepper selected color change
::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: #00bdd6 !important;
}

//input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #00bdd6 !important;
  // opacity: 1!important;
}

//mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #00bdd6  !important;
}

// mat-input error outline color
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
  color: #00bdd6 !important;
  opacity: 0.8!important;
}

// mat-input carent color
::ng-deep .mat-input-element {
  caret-color: #00bdd6 !important;
}

// mat-input error carent color
::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
  caret-color: #00bdd6 !important;
}

.mt-top{
  margin-top: 30px;
}
.mt-top-2{
  margin-top: 10px;
}

::ng-deep .mat-form-field-flex {
  background-color: #f0f0f0 !important;
}

.mat-flat-button{
  background-color: #1a95a5 !important;
  color: #fff !important;
  width: 100%;;
}

.link {
  color: #00bdd6 !important;
}

.signin-container{
  font-weight: bold;
  color:#787e81;
}

.color-1{
  color: #787e81;
}

